.inputWrap {
  display: flex;
  justify-content: center;
}

.input {
  margin-right: 12px;
  width: 380px;
}

.circleWrap {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
}

.circle {
  margin: 0 8px 0;
}

.btn {
  width: 140px;
}
